### SERVER URL
SERVER_URL="http://...:8001"
SERVER_API_KEY="..."

### SPEECH TO TEXT
GROQ_API_KEY="gsk_..."
GROQ_API_MODEL="whisper-large-v3"

### LARGE LANGUAGE MODELS
API_URL="https://.../v1/chat/completions"
API_KEY="api-key"
API_MODEL="gpt-4o"